.imgBox{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  & img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

